.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.main_content {
   background-color: var(--bg-white);
   display: flex;
   flex-direction: column;
   border-radius: 1rem;
   margin: 1rem;
}

.image_container {
   background-image: url("../images/drawers.jpg");
   background-position: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   height: 29rem;
   border-radius: 1rem 1rem 0 0;
}

/* ================= article priview start here ================= */
.article_preview_author_container {
   margin: 4rem 3.5rem 2rem 3.5rem;
}

.article_title {
   font-size: 1.8rem;
   font-weight: var(--font-weight-700);
   color: var(--very-dark-grayish-blue);
}

.article_details {
   margin: 2rem 0;
   line-height: 2rem;
}

/* ================= author information start here ================= */
.author_profile_container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.author_photo {
   width: 5.5rem;
   height: 5.5rem;
   border-radius: 50%;
}

.photo_name_date_container {
   display: flex;
   gap: 1rem; /* between photo and name, date */
   align-items: center;
}

.name {
   margin-bottom: 0.3rem;
   font-weight: var(--font-weight-700);
   color: var(--very-dark-grayish-blue);
}

.share_arrow {
   border-radius: 50%;
   background-color: var(--light-grayish-blue);
   padding: 0.75rem;
   z-index: 999;
}

.share_arrow:hover {
   cursor: pointer;
}

.arrow_icon {
   width: 2rem;
   height: 2rem;
}

/* ================= social media share start here ================= */
.share_container {
   display: none;
   align-items: center;
   gap: 1rem; /* between share text and fb icon */
   background-color: var(--very-dark-grayish-blue);
   width: 100%;

   padding: 2.5rem;
   border-radius: 0 0 1rem 1rem;
   margin-top: -8rem;
   /* opacity: 0.5; */
}

.share_container p {
   text-transform: uppercase;
   letter-spacing: 0.25rem;
}

.icon_container ul {
   display: flex;
   align-items: center;
   gap: 1rem; /* between each social media icon */
}

.fb_icon,
.twitter_icon,
.pinterest_icon {
   width: 3.6rem;
   height: 3.6rem;
}

.icon_container ul > li {
   list-style-type: none;
}

/* apply this when javascript active */
.share_container.active {
   display: flex;
   margin-top: -9rem;
}
